<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary
 rounded">
  <div class="container" >
  <ul>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/items">Items</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/additems">Add Items</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">Log Out</a>
    </li>
  
  </ul>
  </div>
</nav>
</div>