
img {
    margin: 10px 0 10px 0;

    border: 1px solid #000;
  }
      
#leftNav {
  
    width: 150px;
    margin-right: 15px;
    border-right: 1px solid #f4f4f4;
    
}

#rightDisplay{

    width: 530px;
    margin: 0;
    
  }
   #currentImg{
width:300px;  
height:300px;
}
#one{
    height: 150px;
    width: 150px;
  }
div{
          display: block;
    }


